<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Index</title>
<link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>

<body>
<div class="wrapper">
<div class="wrapper-for-back">
	<div class="header ">
		<div class="header-wrap">
			<h1><p>Skokov</p><a href="/"><img src="images/star-h.png" alt="Logo"/></a></h1>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		
		</div>
		
	</div>
	<div class="bar">
		
    </div>
    <div class="content">

		
<div class="left-news">		
		<div class="citata"><h2>"Ability may get you to the top, but it takes character to keep you there."<span>John Wooden</span><h2>
		</div>
		
<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>
		
		
<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>


<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>


<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>
</div>


<div class="center-news">	
<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>


<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>


<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>


<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>

<div class="news">
<a href="/"><img src="images/tetka.jpg" alt="Wooman"/></a>
<div class="body-news">
<a href="/"><h3>17 Inspiring Examples of Parallax  Scrolling Sites</h3></a>
<p class="text-news">When it comes to parallax scrolling, the line that separates good and bad choices is pretty thin. A while back parallax was being used to deliver an explosion of elements floating around the screen.</p>
<div class="news-footer"><img src="images/heart.jpg" alt="Back"/> 15<a href="/"><p>by John Doe  /  4 comments  /  Oct. 12, 2013</p></a></div>
</div>
</div>

</div>

<div class="sidebar">	

<div class="search">	
<div class="search-form">
<form method="get" action="/" id="search" method="get" >
  <input name="s" type="text" size="40" placeholder="Search..." name="s" value="<?php the_search_query();?>"/>
</form>
</div>
</div>




<div class="categories">
<h2>categories</h2>
<div class="categories-all">
<div class="categories-first">
<ul>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
</ul>
</div>
<div class="categories-second">
<ul>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
</ul>
</div>
</div>


</div>




<div class="categories">
<h2>archive</h2>
<div class="categories-all">
<div class="categories-first">
<ul>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
</ul>
</div>
<div class="categories-second">
<ul>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
<li class="for-li-cat"><a class="" href="#"><span><img src="images/arrow.jpg" alt="Wooman"/></span>web design</a></li>
</ul>
</div>
</div>


</div>


<div class="news-lists">

<h2>Popular posts</h2>
			<ul>
				<li><img src="images/tetka.jpg" alt=""><p><a href="#">15 Fresh Examples of Clean and Minimal Web Designs</a></p>
					<span class="likes"><a href="#">Dec 14, 2013</a><img src="images/heart2.png" title="likes" alt=""/>16</span>
				</li>
				<div class="clear"></div>

								<li><img src="images/tetka.jpg" alt=""><p><a href="#">15 Fresh Examples of Clean and Minimal Web Designs</a></p>
					<span class="likes"><a href="#">Dec 14, 2013</a><img src="images/heart2.png" title="likes" alt=""/>16</span>
				</li>
				<div class="clear"></div>
				
								<li><img src="images/tetka.jpg" alt=""><p><a href="#">15 Fresh Examples of Clean and Minimal Web Designs</a></p>
					<span class="likes"><a href="#">Dec 14, 2013</a><img src="images/heart2.png" title="likes" alt=""/>16</span>
				</li>
				<div class="clear"></div>
				
								<li><img src="images/tetka.jpg" alt=""><p><a href="#">15 Fresh Examples of Clean and Minimal Web Designs</a></p>
					<span class="likes"><a href="#">Dec 14, 2013</a><img src="images/heart2.png" title="likes" alt=""/>16</span>
				</li>
				<div class="clear"></div>
				
				
								<li><img src="images/tetka.jpg" alt=""><p><a href="#">15 Fresh Examples of Clean and Minimal Web Designs</a></p>
					<span class="likes"><a href="#">Dec 14, 2013</a><img src="images/heart2.png" title="likes" alt=""/>&nbsp16</span>
				</li>
				<div class="clear"></div>
</div>

<div class="tags">
<h2>Tags</h2>

			<ul>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				
								<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
								<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
				<li><a href="#">TAG</a></li>
			</ul>

	</div>



	
</div>
</div>

	<div class="clear"></div>
  <div class="footer">
	<div class="footer-top">
	   <div class="wrap">
		   <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					<h3>About Us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8b">Learn more</button>
					<h4>Photo Stream</h4>
					<div class="gallery">
						<ul>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-1.jpg" alt=""/></a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-2.jpg" alt=""/></a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-3.jpg" alt=""/></a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-4.jpg" alt=""/></a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-5.jpg" alt=""/></a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/footer-6.jpg" alt=""/></a></li>

						</ul>
					</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h3>Latest tweets</h3>
					<div class="footer-list">
						<ul>
							<li><img src="images/twitter.png" alt=""/><p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit, seddia<br><span class="small">&nbsp;web design</span></p><div class="clear"></div></li>
							<li><img src="images/twitter.png" alt=""/><p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit, seddia<br><span class="small">&nbsp;web design</span></p><div class="clear"></div></li>
							<li><img src="images/twitter.png" alt=""/><p>Lorem ipsum dolor sit amet, <span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit, sed diam nonummy nibh<br><span class="small">&nbsp;web design</span></p><div class="clear"></div></li>
							<li><img src="images/twitter.png" alt=""/><p>Lorem ipsum dolor sit amet, <span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit, sed diam nonummy nibh<br><span class="small">&nbsp;web design</span></p><div class="clear"></div></li>
							<li><img src="images/twitter.png" alt=""/><p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit, seddia<br><span class="small">&nbsp;web design</span></p><div class="clear"></div></li>
						</ul>
					</div>
					 <div class="social-icons">	
					 	<h4>Social Connecting</h4>
						    <ul>	
							  <li class="facebook"><a href="#"><img src="images/facebook.jpg" alt=""/></a></li>
					          <li class="google"><a href="#"><img src="images/google.jpg" alt=""/></a></li>
					          <li class="twitter"><a href="#"><img src="images/t.jpg" alt=""/></a></li>
					          <li class="linkedin"><a href="#"><img src="images/in.jpg" alt=""/></a></li>	 
					          <li class="youtube"><a href="#"><img src="images/youtube.jpg" alt=""/></a></li>	
					          <li class="bloger"><a href="#"><img src="images/b.jpg" alt=""/></a></li>
					          <li class="rss"><a href="#"><img src="web/images/rss.jpg" alt=""/></a></li>	
					          <li class="dribble"><a href="#"><img src="web/images/ball.jpg" alt=""/></a></li>		        	
					        </ul>
				     </div>
			    </div>
				<div class="col_1_of_3 span_1_of_3">
					<h3>Contact info</h3>
					<div class="footer-list">
						<ul>
							<li><img src="images/map.jpg" alt=""/><p>Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh<br>&nbsp;web design</p><div class="clear"></div></li>
							<li><img src="images/contact.jpg" alt=""/><p>Phone: +1 800 258 2689<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+1 800 258 2689 </p><div class="clear"></div></li>
							<li><img src="images/mail.jpg" alt=""/><p>Email: <span class="yellow"><a href="#">info(at)skokov.com</a></span></p><div class="clear"></div></li>
					   </ul>
					</div>
					<div class="follow">
					   <h4>Follow Us</h4>
					   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
					   <div class="search">
						  <form>
							   <input type="text" value="">
							   <input type="submit" value="">
						  </form>
					   </div>
				    </div>
				</div>
				<div class="clear"></div>
			</div>
	   </div>
	 </div>
	 <div class="footer-bottom">
	 	<div class="wrap">

		 	<div class="footer-nav">
		 		<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Portfolio</a></li> 
					<li><a href="blog.html">Blog</a></li> 
					<li><a href="about.html">About Us</a></li> 
					<li><a href="contact.html">Contact</a></li>
				</ul>
		 	</div>
		 	<div class="clear"></div>
	    </div>
	</div>
</div>
</body>
</html>
